.form-control {
  margin-bottom: 10px;
}

.form {
  width: 50%;
  display: inline-block;
  margin-left: 25%;
}

.forgot-pwd {
  float: right;
}

.radios ul li {
  display: inline;
  padding-right: 10px;
}

#book-info {
  float: left;
}

.rate {
overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.reviews {
  margin-top: 10px;
}